.title {
    text-align: center;
    font-weight: 500;
    padding-top: 50px;
}

.mainText {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    text-justify: auto;
}

.link {
    text-align:center;
}

.quest{
}

.centered{
    height: 100%;
}